@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.container{
    width: 1135px;
    height: 451px;
    background-color: #020202;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 340px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:link, a:hover, a:active a:visited{
    color: white;
}

nav{
    font-size: 32px;
    margin: -5px 0px 0px -5px;
    line-height: 48px;

}

.lists{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    padding: 18px 0px 0px 5px;
    margin-right: -5px;
    font-weight: bold;
    font-size: 16px;
}

.column{
    padding: 0px;
    margin-left: -20px;
    width: 178px;
}

.listtitle{
    padding-bottom: 10px;
    line-height: 25px;
}

.subitem {
    color: #b1b1b1;
    padding-bottom: 12px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.foottitle{
    padding: 5px 30px 5px 20px;
    font-size: 30px;
}

.textgrey{
    color: #b1b1b1;
}