@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

#mockup {
    width: 1135px;
    height: 451px;
    background-image: url(complex.05.png);

    position: absolute;

    opacity: 0.2;
    z-index: 10;
    pointer-events: none;
}


.container{
    width: 1135px;
    height: 451px;
    border-style: solid;
    border-color: red;
    background-color: #020202;
    color: white;
    font-family: 'Heebo', sans-serif;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

a:link, a:hover, a:active a:visited{
    color: white;
}

nav{
    font-size: 32px;
}

.lists{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    padding: 20px 25px 0px 0px;
}

.column{
    padding-right: 28px;
}

listtitle{

}

footer{
    display: flex;
    justify-content: center;
    align-content: center;
}
